---
title: ED
permalink: /
quote: quote.html
stuff: stuff.html
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="assets/site-img/favicon.png">
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/custom.css" />
    <title>{{ page.title }}</title>
</head>

<body class>

    <!-- --------------------------------------- SPLASH ICON SECTION --------------------------------------- -->
    <div class="row center-align valign-wrapper full-view">
        <!-- Quote Button -->
        <div class="col s4">
            <div class="container">
                <div id="quote-card" class="card-panel white z-depth-0 primary-boarder rcorners title fs1 c_hide">
                    <div class="row valign-wrapper">
                        <div class="col s2 primary">
                            -
                        </div>
                        <div class="col s8 primary">
                            <span id="quote-text">
                                I need a
                                <br />
                                <span id="q" class="secondary">
                                    Quote                   
                                </span>
                            </span>                        
                        </div>
                        <div class="col s2 primary">
                            -
                        </div>
                    </div>                
                </div>
            </div>
        </div>

        <!-- Logo Column -->
        <div class="col s4">
            <img id="logo" class="responsive-img c_hide" src="assets/site-img/Splash - Logo.png" />

             <!-- Centered Header -->
            <div class="section center-align">
                <h4 id="title" class="primary title c_hide">- All Things Creative -</h4>
            </div>            
        </div>

        <!-- Stuff Button -->
        <div class="col s4">
            <div class="container">
                <div id="stuff-card" class="card-panel white z-depth-0 primary-boarder rcorners title fs1 c_hide">
                    <div class="row valign-wrapper">
                        <div class="col s1 m2 primary">
                            -
                        </div>
                        <div class="col s10 m8 primary">
                            <span id="stuff-text">
                                Show me
                                <br />
                                <span id="s" class="secondary">
                                    Stuff                   
                                </span>
                            </span>                        
                        </div>
                        <div class="col s1 m2 primary">
                            -
                        </div>
                    </div>                
                </div>
            </div>
        </div>            
    </div>

    <div class="divider"></div>

    <!-- --------------------------------------- QUOTE SECTION --------------------------------------- -->
    {% if page.quote %}
        {% include {{ page.quote }} %}
        {{ include.content }}
    {% endif %}    

    <div class="divider"></div>
    
    <!-- --------------------------------------- STUFF SECTION --------------------------------------- -->
    {% if page.stuff %}
        {% include {{ page.stuff }} %}
        {{ include.content }}
    {% endif %}

    <!-- ------------------------------------------- FOOTER ------------------------------------------- -->
    <footer class="page-footer primary-background">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <!-- --------------------------------------- JavaScript/JQuery --------------------------------------- -->
    <script type="text/javascript" src="assets/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="assets/js/jspdf.min.js"></script>
    <script type="text/javascript" src="assets/js/ED.js"></script>

</body>
</html>