<!-- --------------------------- HIDDEN PHOTO FORMS --------------------------- -->
<!-- HEADSHOTS -->
<div id="photo_head" action="#" class="c_hide">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content white-text">
                    <span class="card-title secondary">How many subjects need to be photographed?</span>
                    <div class="input-field inline">
                        <input id="num_ppl" type="number" class="validate">
                    </div>
                    <br />
                    <span class="card-title secondary">How many looks/options per subject would you like?</span>
                    <div class="input-field inline">
                        <input id="num_looks" type="number" class="validate">
                    </div>
                    <br />
                    <br />
                    <span class="card-title secondary">Would you like simple lighting retouches or airbrushing on the
                        final products?</span>
                    <div class="switch">
                        <label>
                            NO
                            <input id="photo_lighting_switch" value="No" type="checkbox"
                                onchange="toggle_checkbox_value('#photo_lighting_switch', 'Yes', 'No')">
                            <span class="lever"></span>
                            YES
                        </label>
                    </div>
                    <br />
                    <br />
                    <span class="card-title secondary">Would you like make up and wardrobe available at the
                        shoot?</span>
                    <div class="switch">
                        <label>
                            NO
                            <input id="photo_wardrobe_switch" value="No" type="checkbox"
                                onchange="toggle_checkbox_value('#photo_wardrobe_switch', 'Yes', 'No')">
                            <span class="lever"></span>
                            YES
                        </label>
                    </div>
                    <br />
                    <br />
                    <span class="card-title secondary">Do you have a preferred shooting location?</span>
                    <div class="switch">
                        <label>
                            NO
                            <input id="photo_location_switch" value="No" type="checkbox"
                                onchange="toggle_checkbox_value('#photo_location_switch', 'Yes', 'No')">
                            <span class="lever"></span>
                            YES
                        </label>
                    </div>
                    <br />
                    <br />
                    <span class="card-title secondary">Do you require a studio setting?</span>
                    <div class="switch">
                        <label>
                            NO
                            <input id="photo_studio_switch" value="No" type="checkbox"
                                onchange="toggle_checkbox_value('#photo_studio_switch', 'Yes', 'No')">
                            <span class="lever"></span>
                            YES (*studio rental is subject to additional fees)
                        </label>
                    </div>
                </div>
                <div class="card-action">
                    <a class="btn waves-effect waves-dark primary-background" onclick="form_submit('#photo_head')">
                        Submit
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- EVENTS -->
<form id="photo_events" action="#" class="c_hide">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content white-text">
                    <span class="card-title secondary">What is the estimated number of final deliverables (photos,
                        panoramas, etc.) you’re
                        looking for?</span>
                    <div class="input-field inline">
                        <input id="photo_num_deliv" type="number" class="validate">
                    </div>
                    <br />
                    <span class="card-title secondary">What is the duration of the event?</span>
                    <div class="input-field inline">
                        <input id="photo_event_length" type="number" class="validate">
                    </div>
                    <br />
                    <span class="card-title secondary">What kind of event is it?</span>
                    <select id="photo_events_select"
                        onchange="other_text_display('#photo_events_select', '#photo_events_other_div')">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Concert">Concert</option>
                        <option value="Corporate Function">Corporate Function</option>
                        <option value="Sporting Event">Sporting Event</option>
                        <option value="Festival">Festival</option>
                        <option value="Promotion/Brand Activation">Promotion/Brand Activation</option>
                        <option value="Other">Other</option>
                    </select>
                    <div id="photo_events_other_div" class="input-field c_hide">
                        <input id="photo_events_other" type="text" class="validate">
                        <label for="photo_events_other">Please explain the event</label>
                    </div>
                    <br />
                    <span class="card-title secondary">What are the final deliverables you would like to receive?</span>
                    <div class="input-field">
                        <input id="final_del" type="text" class="validate">
                    </div>
                    <span class="card-title secondary">Would travel be required?</span>
                    <div class="switch">
                        <label>
                            NO
                            <input id="photo_travel_switch" value="No" type="checkbox"
                                onchange="toggle_checkbox_value('#photo_travel_switch', 'Yes', 'No')">
                            <span class="lever"></span>
                            YES
                        </label>
                    </div>
                </div>
                <div class="card-action">
                    <a class="btn waves-effect waves-dark primary-background" onclick="form_submit('#photo_events')">
                        Submit
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- PHOTO OTHER -->
<form id="photo_other" class="c_hide">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content white-text">
                    <span class="card-title secondary">Please describe, as best you can, the kind of photo project you
                        have in mind.</span>
                    <div class="input-field">
                        <textarea id="photo_other_text" class="materialize-textarea primary"></textarea>
                    </div>
                </div>
                <div class="card-action">
                    <a class="btn waves-effect waves-dark primary-background" onclick="form_submit('#photo_other')">
                        Submit
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- ---------------------------------------------------------------------- -->