<!-- SECTION TITLE -->
<div id="quote-title" class="section primary center-align quote-title-size">
    <h3 class="title subheading-font center-align">- What type of <span class="secondary">project</span> do you have in
        mind? -</h3>
</div>

<!-- Submit Modal Structure -->
<div id="submit_modal" class="modal">
    <form id="modal_form">
        <div class="modal-content">
                <h4><span class="card-title secondary">Confirm Submission</span></h4>
                <h6 class="primary subheading-font">
                    Please leave your name and email so we can get back to you.
                </h6>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" name="first_name" type="text" class="validate">
                        <label for="first_name">Full Name</label>
                        <span class="helper-text" data-error=""></span>
                    </div>
                    <div class="input-field col s6">
                        <input id="email_input" name="email_input" type="email" class="validate">
                        <label for="email_input">Email</label>
                        <span class="helper-text" data-error=""></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect waves-green btn-flat">Send</button>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
    </form>
</div>

<!-- MAIN PROJECT SELECTION -->
<div class="section center-align container">
    <div class="row">
        <div class="col s3">
            <img id="design_b" class="responsive-img c_button" alt=""
                width="240" height="304" onclick="project_change('#design_b', '#design_buttons')" />
        </div>
        <div class="col s3">
            <img id="video_b" class="responsive-img c_button" alt="" width="240"
                height="304" onclick="project_change('#video_b', '#video_buttons')" />
        </div>
        <div class="col s3">
            <img id="photo_b" class="responsive-img c_button" alt="" width="240"
                height="304" onclick="project_change('#photo_b', '#photo_buttons')" />
        </div>
        <div class="col s3">
            <img id="writing_b" class="responsive-img c_button" alt=""
                width="240" height="304" onclick="project_change('#writing_b', '#writing_buttons')" />
        </div>
    </div>
    <div class="divider"></div>

    <!-- DESIGN OPTIONS-->
    <div id="design_buttons" class="c_hide">
        <div class="section">
            <h3 class="primary subheading-font">- What type of <span class="secondary">design</span> are you looking
                for? -</h3>
        </div>
        <div class="section">
            <div class="row">
                <!-- ICONS -->
                <div class="col s3 offset-s1">
                    <img id="des_icon_b" class="responsive-img c_button" alt="" width="123" height="241"
                        onclick="quote_selection('#des_icons', '#des_icon_b')" />
                </div>
                <!-- BRANDING /LOGO -->
                <div class="col s3 offset-s2">
                    <img id="des_brand_b" class="responsive-img c_button" alt="" width="325" height="239"
                        onclick="quote_selection('#des_brand_logo', '#des_brand_b')" />
                </div>
            </div>
            <div class="row">
                <!-- CONCEPT LAYOUT -->
                <div class="col s3 offset-s3">
                    <img id="des_cl_b" class="responsive-img c_button" alt="" width="336" height="240"
                        onclick="quote_selection('#des_concept_layout', '#des_cl_b')" />
                </div>
                <!-- (DESIGN) OTHER -->
                <div class="col s3 offset-s2">
                    <img id="des_other_b" class="responsive-img c_button" alt="" width="125" height="241"
                        onclick="quote_selection('#design_other' , '#des_other_b')">
                </div>
            </div>
        </div>
    </div>


    <!-- VIDEO OPTIONS -->
    <div id="video_buttons" class="c_hide">
        <div class="section">
            <h3 class="primary subheading-font">- What kind of <span class="secondary">video</span> are you looking for?
                -</h3>
        </div>
        <div class="section">
            <div class="row">
                <!-- INTERVIEW -->
                <div class="col s3">
                    <img id="vid_inter_b" class="responsive-img c_button" alt="" width="206" height="239"
                        onclick="quote_selection('#video_form', '#vid_inter_b')" />
                </div>
                <!-- PROMOTIONAL -->
                <div class="col s3 offset-s1">
                    <img id="vid_prom_b" class="responsive-img c_button" alt="" width="271" height="240"
                        onclick="quote_selection('#video_form', '#vid_prom_b')" />
                </div>
                <!-- MUSIC VIDEO -->
                <div class="col s3 offset-s1">
                    <img id="vid_mv_b" class="responsive-img c_button" alt="" width="267" height="240"
                        onclick="quote_selection('#video_form', '#vid_mv_b')" />
                </div>
            </div>
            <div class="row">
                <!-- SHORT FILM -->
                <div class="col s3 offset-s1">
                    <img id="vid_sfilm_b" class="responsive-img c_button" alt="" width="233" height="241"
                        onclick="quote_selection('#video_form', '#vid_sfilm_b')" />
                </div>
                <!-- PROOF OF CONCEPT -->
                <div class="col s3 offset-s1">
                    <img id="vid_concp_b" class="responsive-img c_button" alt="" width="368" height="241"
                        onclick="quote_selection('#video_form', '#vid_concp_b')" />
                </div>
                <!-- (VIDEO) OTHER -->
                <div class="col s3 offset-s1">
                    <img id="vid_other_b" class="responsive-img c_button" alt="" width="126" height="241"
                        onclick="quote_selection('#video_other', '#vid_other_b')" />
                </div>
            </div>
        </div>
    </div>

    <!-- PHOTO OPTIONS-->
    <div id="photo_buttons" class="c_hide">
        <div class="section">
            <h3 class="primary subheading-font">- What kind of <span class="secondary">photography</span> are you looking
                for? -</h3>
        </div>
        <div class="section">
            <div class="row">
                <!-- ICONS -->
                <div class="col s3 offset-s2">
                    <img id="photo_head_b" class="responsive-img c_button" alt="" width="226" height="239"
                        onclick="quote_selection('#photo_head', '#photo_head_b')" />
                </div>
                <!-- ICONS -->
                <div class="col s3 offset-s2">
                    <img id="photo_events_b" class="responsive-img c_button" alt="" width="143" height="242"
                        onclick="quote_selection('#photo_events', '#photo_events_b')" />
                </div>
            </div>
            <div class="row">
                <!-- ICONS -->
                <div class="col s2 offset-s5">
                    <img id="photo_other_b" class="responsive-img c_button" alt="" width="125" height="242"
                        onclick="quote_selection('#photo_other', '#photo_other_b')" />
                </div>
            </div>
        </div>
    </div>

    <!-- WRITING OPTIONS-->
    <div id="writing_buttons" class="c_hide">
            <div class="section">
                <h3 class="primary subheading-font">- What kind of <span class="secondary">writing work</span> are you looking
                    for? -</h3>
            </div>
            <div class="section">
                <div class="row">
                    <!-- ICONS -->
                    <div class="col s3 offset-s2">
                        <img id="writin_copyw_b" class="responsive-img c_button" alt="" width="269" height="242"
                            onclick="quote_selection('#writing_copyw', '#writin_copyw_b')" />
                    </div>
                    <!-- ICONS -->
                    <div class="col s3 offset-s2">
                        <img id="writing_pr_b" class="responsive-img c_button" alt="" width="353" height="240"
                            onclick="quote_selection('#writing_pr', '#writing_pr_b')" />
                    </div>
                </div>
                <div class="row">
                    <!-- ICONS -->
                    <div class="col s2 offset-s5">
                        <img id="writing_other_b" class="responsive-img c_button" alt="" width="125" height="242"
                            onclick="quote_selection('#writing_other', '#writing_other_b')" />
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="section">
        {% include design_forms.html %}
        {% include video_forms.html %}
        {% include photo_forms.html %}
        {% include writing_forms.html %}
</div>


<iframe id="prev_frame" class="full-view" title="iframe"></iframe>