<!-- SECTION TITLE -->
<div id="stuff-title" class="section primary center-align subheading-font">
    <h4 class="title">- Check out <span class="secondary">E</span>D<sup>2</sup> client work <span
            class="secondary">&</span> our own projects -</h4>
</div>

<!-- STUFF MODALS -->
<div id="stuff1" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">Bonding</span></h3>
            <div class="row">
                <div class="col s12 l6">
                    <div class="video-container">
                        <iframe title="" src="https://player.vimeo.com/video/307890907" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 l6">                   
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/1/1.png">                    
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff2" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">Day at the Races</span></h3>
            <div class="row">
                <div class="col s12 l6">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/177655750" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 l6">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/2/1.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff3" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">Emmett Maloney - Reel 2018</span></h3>
            <div class="row">
                <div class="col s12">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/301690403" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff4" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">Meet Your Doctor - CReATe Fertility Centre (2019 Interview
                    Series)</span></h3>
            <div class="row">
                <div class="col s12 l3">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/324403422" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 l3">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/324400204" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 l3">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/324397925" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 l3">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/324367816" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l3">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/4/2.png">
                </div>
                <div class="col s12 l3">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/4/3.png">
                </div>
                <div class="col s12 l3">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/4/4.png">
                </div>
                <div class="col s12 l3">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/4/5.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4 offset-l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/4/6.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff5" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">MESS - Dandelion Soup (Music Video)</span></h3>
            <div class="row">
                <div class="col s12 l6">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/171328298" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 l6">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/5/1.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff6" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">ChronoCraft (Game Project Proposal)</span></h3>
            <div class="row">
                <div class="col s12 l4 offset-l2">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/6/1.jpg">
                </div>                
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/6/4.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4 offset-l2">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/6/3.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/6/2.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff7" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">Arbour Glen (Logo Design)</span></h3>
            <div class="row">
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/7/1.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/7/2.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/7/3A.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/7/3B.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/7/3C.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/7/4.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4 offset-l2">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/7/5.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/7/6.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff8" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">Superstitions - Teaser</span></h3>
            <div class="row">
                <div class="col s12 l4">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/314896005" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/8/1.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/8/b2.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/8/b3.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/8/r1.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/8/r2.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/8/w1.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/8/w2.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/8/w3.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4 offset-l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/8/0.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff9" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">Relay Academy (Logo, Icon Design)</span></h3>
            <div class="row">
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/1.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/2.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/3.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/4.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/5.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/6.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/7.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/8.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/9.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4 offset-l2">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/10.png">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/9/11.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff10" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">HenchCraft (Game Project Proposal)</span></h3>
            <div class="row">
                <div class="col s12 l4 offset-l2">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/10/1.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/10/4.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4 offset-l2">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/10/3.png">
                </div>                
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/10/2.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff11" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">Dia de los Muertos (Promo Photos)</span></h3>            
            <div class="row">
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/1.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/3.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/4.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/5.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/8.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/9.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/10.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/11.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/12.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4 offset-l2">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/2.jpg">
                </div>
                <div class="col s12 l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/6.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4 offset-l4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/11/13.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff12" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">Noctis Real Estate (Promo Video)</span></h3>
            <div class="row">
                <div class="col s12 l6">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/353148460" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 l6">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/12/1.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff13" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">GreenSeal Cannabis (Promo Video)</span></h3>
            <div class="row">
                <div class="col s12 l6">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/326414900" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 l6">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/13/1.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff14" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">House of VR (Promo Video)</span></h3>
            <div class="row">
                <div class="col s12 l6">
                    <div class="video-container">
                        <iframe src="https://player.vimeo.com/video/311723715" width="100%" height="100%"
                             allow="fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s12 l6">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/14/1.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<div id="stuff15" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container center-align">
            <h3><span class="white-text subheading-font title">CReATe Staff Portraits</span></h3>
            <div class="row">
                <div class="col s4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/15/1.jpg">
                </div>
                <div class="col s4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/15/2.jpg">
                </div>
                <div class="col s4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/15/3.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/15/4.jpg">
                </div>
                <div class="col s4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/15/5.jpg">
                </div>
                <div class="col s4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/15/test.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/15/test1.jpg">
                </div>
                <div class="col s4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/15/8.jpg">
                </div>
                <div class="col s4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/15/9.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col s4 offset-s4">
                    <img class="materialboxed" width="100%" src="assets/site-img/Stuff/15/10.png">
                </div>
            </div>
            <a href="#!" class="right-align modal-close waves-effect waves-green btn-flat primary">Close</a>
        </div>
    </div>
</div>

<!-- THUMBNAIL PHOTO WALL -->
<div class="section secondary-background center-align">
    <br />
    <div class="row">
        <div class="col s2 offset-s1 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/1.png" />
            <div class="video modal-trigger" href="#stuff1"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/2.png" />
            <div class="video modal-trigger" href="#stuff2"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/3.png" />
            <div class="video modal-trigger" href="#stuff3"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/4.png" />
            <div class="vidDes modal-trigger" href="#stuff4"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/5.png" />
            <div class="video modal-trigger" href="#stuff5"></div>
        </div>
        <div class="col s2 offset-s1 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/6.jpg" />
            <div class="writDes modal-trigger" href="#stuff6"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/7.png" />
            <div class="design modal-trigger" href="#stuff7"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/8.png" />
            <div class="vidDes modal-trigger" href="#stuff8"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/9.png" />
            <div class="design modal-trigger" href="#stuff9"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/10.jpg" />
            <div class="writDes modal-trigger" href="#stuff10"></div>
        </div>
        <div class="col s2 offset-s1 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/11.png" />
            <div class="photo modal-trigger" href="#stuff11"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/12.png" />
            <div class="video modal-trigger" href="#stuff12"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/13.png" />
            <div class="video modal-trigger" href="#stuff13"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/14.png" />
            <div class="video modal-trigger" href="#stuff14"></div>
        </div>
        <div class="col s2 no-padding thumb-container c_button">
            <img class="responsive-img" src="assets/site-img/Stuff/Thumbnails/15.jpg" />
            <div class="photo modal-trigger" href="#stuff15"></div>
        </div>
    </div>
</div>

<!-- PREV AND CURRENT CLIENTS SECTION -->
<div class="section white center-align">
    <div class="primary container">
        <h3 class="title subheading-font">- Our Clients <span class="secondary">&</span> Partners -</h3>
        <div class="row valign-wrapper">
            <div class="col s2">
                <img class="responsive-img" src="assets/site-img/Clients/Relay Academy.png" alt="" />
            </div>
            <div class="col s2">
                <img class="responsive-img" src="assets/site-img/Clients/dvm pictures.png" alt="" />
            </div>
            <div class="col s2">
                <img class="responsive-img" src="assets/site-img/Clients/Noctis.png" alt="" />
            </div>
            <div class="col s2">
                <img class="responsive-img" src="assets/site-img/Clients/GreenSeal.png" alt="" />
            </div>
            <div class="col s2">
                <img class="responsive-img" src="assets/site-img/Clients/Toronto Buddhist Temple.png" alt="" />
            </div>
        </div>
        <div class="row valign-wrapper">
            <div class="col s3 offset-s1">
                <img class="responsive-img" src="assets/site-img/Clients/CReATe Fertility Centre.png" alt="" />
            </div>
            <div class="col s3">
                <img class="responsive-img" src="assets/site-img/Clients/South Riverdale Community Health Centre.png" alt="" />
            </div>
            <div class="col s3">
                <img class="responsive-img" src="assets/site-img/Clients/Lamport-Sheppard Entertainment.png" alt="" />
            </div>
            <div class="col s3">
                <img class="responsive-img" src="assets/site-img/Clients/House of VR.png" alt="" />
            </div>
        </div>
    </div>
</div>