<!-- --------------------------- HIDDEN VIDEO FORMS --------------------------- -->
<!-- COMMON FORM -->
<form id="video_form" action="#" class="c_hide">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content white-text">
                    <span class="card-title secondary">What is the estimated length of the video?</span>
                    <div class="input-field inline">
                        <input id="video_length" type="number" class="validate">
                        <label for="video_length">Minutes</label>
                    </div>
                    <br />
                    <br />
                    <span class="card-title secondary">Is this video part of a series?</span>
                    <div class="switch">
                        <label>
                            NO
                            <input id="video_series_swicth" value="No" type="checkbox"
                                onchange="toggle_checkbox_value('#video_series_swicth', 'No')">
                            <span class="lever"></span>
                            YES
                        </label>
                    </div>
                    <br />
                    <br />
                    <span class="card-title secondary">Do you have your shooting location(s)...</span>
                    <div class="switch">
                        <label>
                            Not Scouted
                            <input id="video_scouted_switch" value="Not Scouted" type="checkbox"
                                onchange="toggle_checkbox_value('#video_scouted_switch', 'Scouted', 'Not Scouted')">
                            <span class="lever"></span>
                            Scouted
                        </label>
                    </div>
                    <br />
                    <div class="switch">
                        <label>
                            Not Booked
                            <input id="video_booked_switch" value="Not Booked" type="checkbox"
                                onchange="toggle_checkbox_value('#video_booked_switch', 'Booked', 'Not Booked')">
                            <span class="lever"></span>
                            Booked
                        </label>
                    </div>
                    <br />
                    <br />
                    <span class="card-title secondary">Do you have a storyboard? (if you do not, would you like a
                        storyboard developed?)</span>
                    <div class="switch">
                        <label>
                            NO
                            <input id="video_strybrd_switch" value="No" type="checkbox"
                                onchange="toggle_checkbox_value('#video_strybrd_switch', 'Yes', 'No')">
                            <span class="lever"></span>
                            YES
                        </label>
                    </div>
                    <br />
                    <div class="switch">
                        <label>
                            NO
                            <input id="video_sbdev_switch" value="No" type="checkbox"
                                onchange="toggle_checkbox_value('#video_sbdev_switch', 'Yes', 'No')" />
                            <span class="lever"></span>
                            YES
                        </label>
                    </div>
                    <br />
                    <br />
                    <span class="card-title secondary">Please let us know about any other details for your video
                        project:</span>
                    <div class="input-field">
                        <textarea id="video_txt" class="materialize-textarea primary"></textarea>
                    </div>
                </div>
                <div class="card-action">
                    <a class="btn waves-effect waves-dark primary-background" onclick="form_submit('#video_form')">
                        Submit
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- VIDEO OTHER -->
<form id="video_other" class="c_hide">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content white-text">
                    <span class="card-title secondary">Please describe, as best you can, the kind of video project you
                        have in mind.</span>
                    <div class="input-field">
                        <textarea id="video_other_txt" class="materialize-textarea primary"></textarea>
                    </div>
                    <br />
                    <span class="card-title secondary">What is the estimated final length of the video you need?</span>
                    <div class="input-field inline">
                        <input id="vid_other_length secondary" type="number" class="validate">
                        <label for="vid_other_length">Minutes</label>
                    </div>
                </div>
                <div class="card-action">
                    <a class="btn waves-effect waves-dark primary-background" onclick="form_submit('#video_other')">
                        Submit
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>