<!-- --------------------------- HIDDEN WRITING FORMS --------------------------- -->
<!-- COPYWRITING -->
<form id="writing_copyw" class="c_hide">
    <div class="row">
        <div class="col s6 offset-s3">
            <h5>What kind of project do you have in mind?</h5>
            <select class="browser-default">
                <option value="" disabled selected>Choose your option</option>
                <option value="Short film">Short film</option>
                <option value="Ad/Social Media">Ad/Social Media</option>
                <option value="Project Proposal/Concept Pitch">Project Proposal/Concept Pitch</option>
                <option value="Game">Game</option>
            </select>
            <br />
            <h5>What is the estimated final length of the script you need?</h5>
            <div class="input-field inline">
                <input id="writing_copyw_pages" type="number" class="validate">
                <label for="writing_copyw_pages">Num Pages</label>
            </div>
            <br />
            <br />
            <a class="btn waves-effect waves-dark primary-background" onclick="form_submit('#writing_copyw')">
                Submit
                <i class="material-icons right">send</i>
            </a>
        </div>
    </div>
</form>

<!-- PUBLIC RELATIONS -->
<form id="writing_pr" class="c_hide">
    <div class="row">
        <div class="col s6 offset-s3">
            <h5>Which of the following media relations opportunities are you interested in?</h5>
            <br />
            <div class="container">
                <div class="row left-align">
                    <div class="col s5 offset-s2">
                        <input id="writing_pr_tv" type="checkbox" value=""
                            onclick="toggle_checkbox_value('#writing_pr_tv', 'TV')"/>
                        <label for="writing_pr_tv">TV</label>
                    </div>
                    <div class="col s5">
                        <input id="writing_pr_radio" type="checkbox" value=""
                            onclick="toggle_checkbox_value('#writing_pr_radio', 'Radio')"/>
                        <label for="writing_pr_radio">Radio</label>
                    </div>
                </div>
                <div class="row left-align">
                    <div class="col s5 offset-s2">
                        <input id="writing_pr_print" type="checkbox" value=""
                            onclick="toggle_checkbox_value('#writing_pr_print', 'Print')"/>
                        <label for="writing_pr_print">Print</label>
                    </div>
                    <div class="col s5">
                        <input id="writing_pr_dig" type="checkbox" value=""
                            onclick="toggle_checkbox_value('#writing_pr_dig', 'Digital')"/>
                        <label for="writing_pr_dig">Digital</label>
                    </div>
                </div>
                <div class="row left-align">
                    <div class="col s6 offset-s2">
                        <input id="writing_pr_o1" type="checkbox" value=""
                            onchange="other_text_display('#writing_pr_o1', '#writing_pr_o1_div')"
                            onclick="toggle_checkbox_value('#writing_pr_o1', 'Other')"/>
                        <label for="writing_pr_o1">Other</label>
                    </div>
                </div>
                <div id="writing_pr_o1_div" class="input-field c_hide">
                    <input id="writing_pr_o1_txt" type="text" class="validate">
                </div>
            </div>
            <br />
            <br />
            <h5>Which of the following do you require?</h5>
            <br />
            <div class="container">
                <div class="row left-align">
                    <div class="col s5 offset-s2">
                        <input id="writing_pr_press" type="checkbox" value=""
                            onclick="toggle_checkbox_value('#writing_pr_press', 'Press Release')"/>
                        <label for="writing_pr_press">Press Release</label>
                    </div>
                    <div class="col s5">
                        <input id="writing_pr_mk" type="checkbox" value=""
                            onclick="toggle_checkbox_value('#writing_pr_mk', 'Media Kit')"/>
                        <label for="writing_pr_mk">Media Kit</label>
                    </div>
                </div>
                <div class="row left-align">
                    <div class="col s5 offset-s2">
                        <input id="writing_pr_dms" type="checkbox" value=""
                            onclick="toggle_checkbox_value('#writing_pr_dms', 'Digital Media Strategy')"/>
                        <label for="writing_pr_dms">Digital Media Strategy</label>
                    </div>
                    <div class="col s5">
                        <input id="writing_pr_bio" type="checkbox" value=""
                            onclick="toggle_checkbox_value('#writing_pr_bio', 'Biography')"/>
                        <label for="writing_pr_bio">Biography</label>
                    </div>
                </div>
                <div class="row left-align">
                    <div class="col s5 offset-s2">
                        <input id="writing_pr_mt" type="checkbox" value=""
                            onclick="toggle_checkbox_value('#writing_pr_mt', 'Media Training')"/>
                        <label for="writing_pr_mt">Media Training</label>
                    </div>
                    <div class="col s5">
                        <input id="writing_pr_o2" type="checkbox" value=""
                            onchange="other_text_display('#writing_pr_o2', '#writing_pr_o2_div')"
                            onclick="toggle_checkbox_value('#writing_pr_o2', 'Other')" />
                        <label for="writing_pr_o2">Other</label>
                    </div>
                </div>
                <div id="writing_pr_o2_div" class="input-field c_hide">
                    <input id="writing_pr_o2_txt" type="text" class="validate">
                </div>
            </div>
            <br />
            <br />
            <a class="btn waves-effect waves-dark primary-background" onclick="form_submit('#writing_pr')">
                Submit
                <i class="material-icons right">send</i>
            </a>
        </div>
    </div>
</form>

<!-- WRITING OTHER -->
<form id="writing_other" class="c_hide">
    <div class="row">
        <div class="col s6 offset-s3">
            <h5>Please describe, as best you can, the kind of photo project you have in mind.</h5>
            <div class="input-field">
                <textarea id="writing_other_text" class="materialize-textarea primary"></textarea>
            </div>
            <br />
            <br />
            <a class="btn waves-effect waves-dark primary-background" onclick="form_submit('#writing_other')">
                Submit
                <i class="material-icons right">send</i>
            </a>
        </div>
    </div>
</form>