/* --------------------------------- CUSTOM CLASSES --------------------------------- */

.font {
    font-family: 'Palatino Linotype';
}

.fs1 {
    font-size: 2em;
}

.fs2 {
    font-size: 1.33em;
}

.title {
    font-weight: bold;
    font-style: italic;
}

.empty-index{
    min-height: 100px;
}

.stuff-section {
    min-height: 800px;
}

.full-height {
    min-height: 120px;
}

.rcorners {
    border-radius: 10px;
}

.card-panel:hover {
    color: white !important;
    background-color: #4E596E !important;
    border: 2px solid white !important;
    cursor: pointer !important;
}

.c_hide {
    display: none;
}

.img-template {
    min-height: 300px;
}

/* --------------------------------- COLOURS --------------------------------- */
.primary {
    color: #C7A16D;
}

.primary-background {
    background-color: #C7A16D !important;
}

.primary-boarder {
    border: 2px solid #C7A16D !important;
}

.secondary {
    color: #4E596E;
}

.secondary-background {
    background-color: #4E596E !important;
}
