/* --------------------------------- CUSTOM CLASSES --------------------------------- */
.font {
    font-family: 'Palatino Linotype';
}

.fs1 {
    font-size: 2em;
}

.fs2 {
    font-size: 1.33em;
}

.title {
    font-weight: bold;
    font-style: italic;
}

.empty-index{
    min-height: 100px;
}

.stuff-section {
    min-height: 800px;
}

.full-height {
    min-height: 120px;
}

.full-view {
    min-height: 100vh;
}

.rcorners {
    border-radius: 10px;
}

.card-panel:hover {
    color: white !important;
    background-color: #0F1D3A !important;
    border: 2px solid white !important;
    cursor: pointer !important;
}

.c_hide {
    display: none;
}

.img-template {
    min-height: 300px;
}

.c_selected {
    color: white !important;
    background-color: #0F1D3A !important;
    border: 2px solid white !important;
    cursor: pointer !important;
}



/* --------------------------------- COLOURS --------------------------------- */
.primary {
    color: #C5B097;
}

.primary-background {
    background-color: #C5B097 !important;
}

.primary-boarder {
    border: 2px solid #C5B097 !important;
}

.secondary {
    color: #4B566B;
}

.secondary-background {
    background-color: #4B566B !important;
}


/* --------------------------------- MATERIALIZE OVERRIDES --------------------------------- */
textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4B566B !important;
    -webkit-box-shadow: 0 1px 0 0 #4B566B !important;
    box-shadow: 0 1px 0 0 #4B566B !important;
}

input[type=checkbox]:checked+.lever {
    background-color: #4B566B !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #C5B097 !important;
}

input[type=range]+.thumb {
    background-color: #4B566B !important;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #C5B097;
}